@font-face {
    font-family: Oswald-light;
    src: url(Fonts/Oswald/Oswald-Light.ttf);
}


@font-face {
    font-family: Oswald-regular;
    src: url(Fonts/Oswald/Oswald-Regular.ttf);
}


@font-face {
    font-family: Oswald-medium;
    src: url(Fonts/Oswald/Oswald-Medium.ttf);
}


@font-face {
    font-family: Montserrat-light;
    src: url(Fonts/Montserrat/Montserrat-Light.ttf);
}


@font-face {
    font-family: Montserrat-regular;
    src: url(Fonts/Montserrat/Montserrat-Regular.ttf);
}


@font-face {
    font-family: Montserrat-medium;
    src: url(Fonts/Montserrat/Montserrat-Medium.ttf);
}


@font-face {
    font-family: Merriweather-light;
    src: url(Fonts/Merriweather/Merriweather-Light.ttf);
}


@font-face {
    font-family: Merriweather-regular;
    src: url(Fonts/Merriweather/Merriweather-Regular.ttf);
}


